div.container {
    margin: 30px;
}

div.modalBody {
    /*height: 300px;*/
    /*width: 300px;*/
    display: none;
    background-color: white!important;
    text-align: center!important;
}

.modalVisible {
    display: block!important;
}

div.modalBody > p {

}

button.clickMeButton {
    font-size: large;
}

button.yesButton {
    outline: black;
    fill: black!important;
}

button.cancelButton {

}

p {

}

.modalMode {
    background-color: gray;
    opacity: 30%;
    z-index: 50;
}
